{% extends layout_path %}
{% load static %}
{% load i18n %}
{% block title %}Blog Delete{% endblock %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/masonry/masonry.js' %}"></script>
{% endblock vendor_js %}

{% block content %}

<body>
    <h1>Delete Post</h1>
    <p>Are you sure you want to delete the blog post "<strong>{{ object.blog_title }}</strong>"?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, delete</button>
        <a href="{% url 'blog-list' %}"><button type="button" class="btn btn-info">Cancel</button></a>
    </form>
</body>

{% endblock %}