{% extends layout_path %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<style>
    .card {
        background-color: #fff;
        color: #000;
        border-radius: 1rem;
    }
    .form-control, .form-select {
        background-color: #fff;
        color: #000;
        border-color: #ccc;
    }
    .form-control:focus {
        border-color: #999;
        box-shadow: none;
    }
    label {
        margin-bottom: 0.3rem;
        font-weight: 500;
    }
    {% comment %} .btn-primary {
        background-color: #000;
        color: #fff;
        border: none;
    }
    .btn-primary:hover {
        background-color: #333;
        color: #fff;
    } {% endcomment %}
</style>

<div class="container mt-5">
    <div class="card shadow-lg p-5">
        <h2 class="text-center mb-4">Edit Company Info Page</h2>

        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            <div class="row">
                {% for field in form %}
                    <div class="col-md-6 mb-4">
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% if field.field.widget.input_type == 'select' %}
                                {{ field|add_class:"form-select" }}
                            {% else %}
                                {{ field|add_class:"form-control" }}
                            {% endif %}
                            {% if field.errors %}
                                <small class="text-danger d-block mt-1">{{ field.errors|striptags }}</small>
                            {% endif %}
                           
                        </div>
                    </div>
                {% endfor %}
                 {{ form.media }}
            </div>

            <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-lg">Save</button>
          </div>
        </form>
    </div>
</div>
{% endblock content %}
